body{
    background-color:#0F0D0B;
    color: white;
    font-family: arial;
    margin-top: 0;
}

.container{
    margin-left: 4em;
    margin-top: 20px;
}

.ben{
    width: 30vw;
    justify-content: left;
    align-items: start;
    margin-top: 0;
    width: 10em;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: sticky;
    top: 0px;
    background-color: black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 0;
}

#nav{
    text-align: end;
}

.log-btn{
    text-decoration: none;
    color: white;
}

.nav-btn{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 6px 30px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 2em;
    border: solid #474542 1px;
    margin-top: 10px;
}
.nav-btn:hover {
  border:#F5C842 1px solid;
  background-color: #0F0D0B;
}
.nav-btn1:hover {
  border:#F5C842 1px solid;
  background-color: #0F0D0B;
}

.nav-btn1{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 6px 30px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 1em;
    margin-right: 3em;
    border: solid #474542 1px;
    margin-top: 10px;
}

h1{
    margin-bottom: 0;
}
p{
    margin-top: 0;
}

.one{
    color:white;
}

.onep{
    color: #474542;
    width: 40%;
}

.two{
    color: #474542;
}
#two{
    color: #F5C842;
}

#ben{
    background-color: transparent;
    border: 1px solid white;
    color: white;   
    padding: 6px 10em;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1em;
    border: solid #474542 1px;
}

.two1{
    color: #474542;
    /* margin-right: 5em; */
}

/* footer */
footer{
     /* background-color: black; */
     height: auto;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  background-color: #231E18;
  margin-top: 2em;
}

.footer-section h2 {
  margin-bottom: 15px;
  font-size: 18px;
  color:#F5C842;
  margin-left: 1em;
}

.footer-section p,
.footer-section li {
  font-size: 14px;
  line-height: 1.6;
  color: #cbd5f5;
  margin-left: 2em;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

/* Social links */
.socials a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color:#F5C842;
  transition: 0.3s;
  margin-left: 2em;
}

.socials a:hover {
  color:#474542;
  transform: translateY(-3px);
}

/* Bottom */
.footer-bottom {
  text-align: center;
  border-top: 1px solid white;
  padding-top: 15px;
  font-size: 13px;
  color: #F5C842;
  text-align: center;
}

.landing{
    display:grid;
    grid-template-columns:1fr 1fr;
    justify-content: center;
}



.intro{
    color: white;
    margin-left: 10px;
    font-size: large;
    width: max-content;
    margin-top: 20px;
}
.intro-btn{
    margin-right: 5px;
    background-color: #F5C842 ;
    border-radius: 15px;
    padding: 10px;
    border: solid 1px #F5C842 ;
}
.intro-spn{
    color: #F5C842 ;
}
.intro-to{
    margin-left: 10px;
    font-size: larger;
    margin-top: 0px;
    color: #F5C842;
    margin-top: 30px;
}

.where{
    color: white;
}
.where-span{
    color: #F5C842;
}

.tracker{
   color:#4A3E30 ; 
   margin-bottom: 40px;
}
.first{
    display: flex;;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
    gap: 1em;
}

.first1{
    display: flex;;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
    gap: 1em;
    border-bottom: solid 1px #231E18;
}

.one{
    margin: 0;
    padding: 0;
}

.descrip{
    margin: 0;
    padding: 0;
}

.descrip1{
    margin: 0;
    padding: 0;
    color: white;
    text-align: start;
}

.descrip-p{
    margin: 0;
    padding: 0;
    color: #4A3E30;
}

.last{
  color: #4A3E30;  
}

.one1{
    margin-top: 10px;
    background-color: #4A3E30;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
        transition: transform 0.3s ease;
}

.one1:hover{
    background-color:transparent;
    transform: translateY(-5px);
     padding: 6px 12px 6px 12px;
}

.nav-bars{
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
    background-color:#231E18;
    width: 20em ;
    margin-left: 30px;
    height: 40px;
    border-radius: 6px;
     align-items: center;
}

.nv1{
    gap: 20px;
    /* background-color: #1A1612; */
    color: white;
    border-top-left-radius: 1em ;
      border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 10px 30px 10px 30px;
    border: solid #1A1612 1px;
    margin-left: 20px;
}

.nv1:hover{
    gap: 20px;
    background-color:#1A1612;
    color: white;
    border-top-left-radius: 1em ;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 10px 30px 10px 30px;
    border: solid #868583 1px;
    margin-left: 20px;
} 

.nav:hover{
    background-color:#F5C842;
}
.right-side{
    margin-left: 40px;
    margin-top: 130px;
}

.parent{
    display: grid;
    grid-template-columns: 400px 1fr;
}

.left-sidebar{
   border-right: solid 1px #231E18;
   margin-left: 40px;
}

/* =============responsive styles ============ */
@media (max-width:768px) {
 body{
    background-color:#0F0D0B;
    color: white;
    font-family: arial;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.container{
    margin-left: 1em;
}

.ben{
    width: 30vw;
    justify-content: left;
    align-items: start;
    margin-top: 0;
    width: 10em;
}

#container{
    display: flex;
    gap: 10em;
    position: sticky;
    top: 0;
    background-color: black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 0;
}

#nav{
    text-align: end;
}

.log-btn{
    text-decoration: none;
    color: white;
}

.nav-btn{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 35px;
    cursor: pointer;
    font-size: 19px;
    margin-right: 2em;
    border: solid #474542 1px;
    margin-top: 10px;
}
.nav-btn:hover {
  border:#F5C842 1px solid;
  background-color: #0F0D0B;
}
.nav-btn1:hover {
  border:#F5C842 1px solid;
  background-color: #0F0D0B;
}

.nav-btn1{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 35px;
    cursor: pointer;
    font-size: 19px;
    margin-left: 1em;
    margin-right: 5px;
    border: solid #474542 1px;
    margin-top: 10px;
}

h1{
    margin-bottom: 0;
}
p{
    margin-top: 0;
}

.one{
    color:white;
}

.onep{
    color: #474542;
    width: 60%;
    font-size: x-large;
}

.two{
    color: #474542;
    font-size: x-large;
}
#two{
    color: #F5C842;
}

#ben{
    background-color: transparent;
    border: 1px solid white;
    color: white;   
    padding: 6px 10em;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1em;
    border: solid #474542 1px;
}

.two1{
    color: #474542;
    /* margin-right: 5em; */
}

/* footer */
footer{
     height: auto;
     margin-left: 0;
}
.footer-container {
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 0px;
  background-color: #231E18;
  margin-top: 0;
  margin-left: 0;
}

.footer-section h2 {
  margin-bottom: 15px;
  font-size: xx-large;
  color:#F5C842;
  margin-left: 20px;
}

.footer-section p,
.footer-section li {
  font-size: x-large;
  line-height: 1.6;
  color: #cbd5f5;
  margin-left: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

/* Social links */
.socials a {
  display: inline-block;
  text-decoration: none;
  color:#F5C842;
  transition: 0.3s;
  margin-left: 1em;
  font-size: 30px;
}


.socials a:hover {
  color:#474542;
  transform: translateY(-3px);
}

/* Bottom */
.footer-bottom {
  text-align: center;
  border-top: 1px solid white;
  padding-top: 15px;
  font-size: 13px;
  color: #F5C842;
  text-align: center;
}   
}