body{
    background-color: #0F0D0B;
    color: white;
      min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.nav-bars{
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
    background-color:#231E18;
    width: 20em ;
    /* margin-left: 30px; */
    height: 40px;
    border-radius: 6px;
     align-items: center;
     margin-left: auto;
     margin-right: auto;
}

.nv1{
    gap: 20px;
    /* background-color: #1A1612; */
    color: white;
    border-top-left-radius: 1em ;
      border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 10px 30px 10px 30px;
    border: solid #1A1612 1px;
    margin-left: 20px;
}

.nv1:hover{
    gap: 20px;
    background-color:#1A1612;
    color: white;
    border-top-left-radius: 1em ;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 10px 30px 10px 30px;
    border: solid #868583 1px;
    margin-left: 20px;
} 

.nav:hover{
    background-color:#F5C842;
}


.wlc-not{
    color: white;
    margin-bottom: 6px;
}

.first-prg{
    color: #4A3E30;
    margin-top: 0px;
    margin-bottom: 20px;
}

.personal-info{
    background: #1f1910;
    color: #4A3E30;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 23em;
    display: grid;
    grid-template-columns: 1fr max-content;
    border: 1px solid #E8A838;
    height: 56px;
     margin-left: auto;
    margin-right: auto;
}
.p-in-spn{
    color: #F5C842;
}

.per-info-btn{
    background-color: transparent;
    color: #F5C842;
    /* border: solid 1px #F5C842; */
    height: max-content;
    align-self: center;
    margin-right: 20px;
    margin-bottom: 5px;
}

.per-info-btn:hover{
    background-color: transparent;
    color: #F5C842;
    border: solid 1px #F5C842;
    height: max-content;
    align-self: center;
    margin-right: 20px;
    margin-bottom: 5px;
}

label{
    margin-bottom: 6px;
    color: #b9aea0;
}

.log-inp{
    background-color: transparent;
    border: solid 1px #231E18;
    color: white;
    padding: 10px;
    width: 23em;
    margin-bottom: 20px;
} 

.log-inp1{
    background-color: transparent;
    border: solid 1px #231E18;
    color: white;
    padding: 10px;
    width: 23em;
    margin-bottom: 20px;
} 

.log-inp{
    background-color: transparent;
    border: solid 1px #231E18;
    color: white;
    padding: 10px;
    width: 23em;
    margin-bottom: 3px;
} 

.log-inp2{
    background-color: transparent;
    border: solid 1px #231E18;
    color: white;
    padding: 10px;
    width: 23em;
    margin-bottom: 20px;
}
.log-inp:hover,
.log-inp1:hover,
.log-inp2:hover{
    background-color: transparent;
    border: #E8A838 1px solid;
}

.frg-psw{
    margin-left: 12em;
    margin-top: 0px;
    margin-bottom: 15px;
}

.frg-psw:hover{
    color: #E8A838;
}

.sign-in{
    margin-top: 15px;
    padding: 10px 150px 10px 130px;
    background-color: #FBB04C;
    /* box-shadow: #F5C842 10px -10px 20px; */
}

.sign-in:hover{
    background-color: transparent;
    color: #F5C842;
    box-shadow: #E8A838 10px 10px 60px;
}

.no-account{
    margin-top: 18px;
    color: #4A3E30;
    font-size: 20px;
}
.no-accn{
    color: #F5C842;
}

.no-accn:hover{
    color:#46413b;
    font-size: x-large;
}

.parent{
    justify-content: center;
    text-align: center;
     width:100%;
    max-width:500px;
    background:#121212;
    border:1px solid rgba(245,200,66,0.2);
    border-radius:25px;
    padding:30px;
    box-shadow:0 0 30px rgba(245,200,66,0.08);
  animation: rushIn 0.8s ease-out;
}

@keyframes rushIn{

  from{
    transform: translateY(-600px);
    opacity: 0;
  }

  to{
    transform: translateY(0);
    opacity: 1;
  }
}



.nav-bars1{
    display: flex;
    gap: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color:#231E18;
    height: 50px;
    border-radius: 6px;
    width: 50vw; 
}

.join{
    font-size: x-large;
    gap: 20px;
    color: #46413b;
    border-bottom-left-radius: 1em;
    padding: 10px 30px 10px 30px;
    margin-left: 20px;
}

.lab{
    text-align: start;
}
.s-input{
    background-color: transparent;
    border: solid 1px #231E18;
    color: white;
    padding: 10px;
    width: 23em;
    margin-bottom: 20px;
}

.lab1{
    margin-right: 15em;
}
.lab2{
    margin-right: 11em;
}
.lab3{
    margin-right: 15em;
}
.lab4{
    margin-right: 10em;
}

.no-account{
    margin-top: 18px;
    color: #4A3E30;
    font-size: 20px;
}
.no-accn{
    color: #F5C842;
}

.no-accn:hover{
    color:#46413b;
    font-size: x-large;
}




